-title t('medical_reports.new')

- semantic_form_for(@medical_report) do |f|
  = f.error_messages

  %p
    = f.label t('medical_reports.title')
    %br
    = f.text_field :description

  %p
    %label=t('medical_reports.cases')
    =swapselectmanual :medical_report, @case_files, :entry_date, :id, @case_files_sel, params = {:size => 6}

  %p
    %label=t('medical_reports.properties')
    =swapselectmanual :medical_report, @properties, :name, :id, @properties_sel, params = {:size => 6}

  %p
    = f.submit t('action.create'), :disable_with => t('please_wait')

.action-links
  - if authorize?('view_medical_report')
    = link_to t('action.back'), medical_reports_path , :class => 'acts_as_button darkgray'
