- title t('admin.catalog.edit')

- semantic_form_for @catalog do |f|
    = f.error_messages
    - f.inputs do
        = f.input :year
        = f.input :language
    - f.buttons do
        = f.commit_button :button_html => { :disable_with => t('please_wait') }

.action-links
    = link_to t('action.destroy'), @catalog, :confirm => t('delete_confirmation'), :method => :delete, :class => 'acts_as_button lightgray'
    = link_to t('action.back'), catalogs_path, :class => 'acts_as_button darkgray'
