- title t('admin.catalog.listing')
%table
  %tr
    %th=t('admin.catalog.year')
    %th=t('admin.catalog.language')
    %th=t('admin.catalog.type')
    %th=t('admin.catalog.active')
    %th{:colspan => 2}
    - @catalog_types.each do |catalog_type|
      -if !catalog_type.catalogs.empty?
        - catalog_type.catalogs.each do |catalog|
          - is_active=catalog.catalog_type.active_catalog && catalog.catalog_type.active_catalog.id == catalog.id
          - tr_class = is_active ? 'active':''
          - activetext = is_active ? '<img src="/images/check.png" alt="check" />' : '-'
          %tr{:class => tr_class }
            %td= h catalog.year
            %td= h catalog.language
            %td= h catalog.catalog_type.name
            %td 
              -if !is_active
                = link_to t('action.activate'), {:controller => :catalogs, :action => :activate, :id => catalog.id}
              -else
                = activetext
            %td= link_to t('action.show')+" / "+t('action.edit'), catalog
            %td= link_to t('action.destroy'), catalog, :confirm => t('delete_confirmation'), :method => :delete
.action-links
  = link_to t('admin.catalog.new_button'), new_catalog_path, :class => 'acts_as_button'
