- step = current_step.to_i

.install-steps

    - if step == 1
        %a{ :href => "/install?locale=#{get_locale}&step=1", :class => "active-step"}
            = t('install.steps.language')
    - elsif step >= 1
        %a{ :href => "/install?locale=#{get_locale}&step=1"}
            = t('install.steps.language')
    - else
        %span= t('install.steps.language')

    - if step == 2
        %a{ :href => "/install?locale=#{get_locale}&step=2", :class => "active-step"}
            = t('install.steps.user')
    - elsif step >= 2 || session[:lang_finished] == 1
        %a{ :href => "/install?locale=#{get_locale}&step=2"}
            = t('install.steps.user')
    - else
        %span= t('install.steps.user')

    - if step == 3
        %a{ :href => "/install?locale=#{get_locale}&step=3", :class => "active-step"}
            = t('install.steps.domain')
    - elsif step >= 3 || session[:admin_finished] == 1
        %a{ :href => "/install?locale=#{get_locale}&step=3"}
            = t('install.steps.domain')
    - else
        %span= t('install.steps.domain')

    - if step == 4
        %a{ :href => "/install?locale=#{get_locale}&step=4", :class => "active-step"}
            = t('install.steps.finish')
    - elsif step >= 4 || session[:domain_finished] == 1
        %a{ :href => "/install?locale=#{get_locale}&step=4"}
            = t('install.steps.finish')
    - else
        %span= t('install.steps.finish')
       