- form_tag 'new_step3', :html => { :id => 'step3' }, :id => 'step3', :class => 'taskcreation'  do
    =hidden_field_tag "current_stage", "#{@current_stage}"
    %div
        %p
            - if @catalog
                = checkbox_tree @catalog, 'step3' , 'medications'
            - else
                = no_catalog_available 'atc'

        .task-select-domain-submit
            = submit_tag t('treatment.nextstep'), :name => "continue", :disable_with => t('please_wait')
        .task-select-domain-submit
            = submit_tag t('treatment.nextstep_nomeds'), :name => "skip", :disable_with => t('please_wait')