%h1 Listing permissions

/%table
/  %tr
/    %th Name
/    %th Description
/  - @permissions.each do |permission|
/    %tr
/      %td= h permission.action
/      %td= h permission.description
/      %td= link_to t(:show), permission
/      %td= link_to t(:edit), edit_permission_path(permission)
/      %td= link_to t(:destroy), permission, :confirm => 'Are you sure?', :method => :delete

%table
  %tr
    %th Permission
    %th Description
    - @domains.each do |d|
      %th= d.name
  - @perms.each do |pheadline, value|
    %tr{:class => 'permission-group'}
      %td{:class => 'permission-group'}= h pheadline
      %td
      - @domains.each do |d|
        %td
    - value.each do |p, desc|
      %tr
        %td{:class => 'permission'}= h p
        %td{:class => 'description'}= h desc
        - @domains.each do |d|
          %td= check_box_tag 'features[]', 'scenarios'

        


%br/
= link_to 'New permission', new_permission_path
