- semantic_form_for @domain do |f|
    = f.error_messages

    - f.inputs do
        = f.input :name
        = f.input :result_name
        = f.input :is_role
        = f.input :is_userdomain
    - f.buttons do
        = f.commit_button :button_html => { :disable_with => t('please_wait') }
