- title t('domain.listing')
%table
    %tr
        %th=t('domain.name')
        %th=t('domain.result_name')
        %th.center=t('domain.is_role')
        %th.center=t('domain.is_userdomain')
        %th{:colspan => "3"}
    - @domains.each do |domain|
        - role = domain.is_role ? '<img src="/images/check.png" alt="check" />' : '-'
        - result = domain.is_userdomain ? '<img src="/images/check.png" alt="check" />' : '-'
        
        %tr
            %td= h domain.name
            %td= h domain.result_name
            
            %td.center= role
            %td.center= result
            %td= link_to t('action.show'), domain
            %td= link_to t('action.edit'), edit_domain_path(domain)
            %td= link_to t('action.destroy'), domain, :confirm => t('delete_confirmation'), :method => :delete

.action-links
    - if authorize?('create_domain')
        = link_to t('domain.new_button'), new_domain_path, :class => 'acts_as_button'
