- title @domain.name

.fields
    .field
        .field-label
            =t('domain.name')
        .field-content
            = h @domain.name
    .field
        .field-label
            =t('domain.result_name')
        .field-content
            = h @domain.result_name
    .field
        .field-label
            =t('domain.is_role')
        .field-content
            = h @domain.is_role
    .field
        .field-label
            =t('domain.is_userdomain')
        .field-content
            = h @domain.is_userdomain

.action-links
    = link_to t('action.edit'), edit_domain_path(@domain), :class => 'acts_as_button'
    = link_to t('action.back'), domains_path, :class => 'acts_as_button darkgray'
