- title @domain.name

.fields
    .field
        .field-label
            =t('domain.name')
        .field-content
            = h @domain.name
    .field
        .field-label
            =t('domain.result_name')
        .field-content
            = h @domain.result_name
    .field
        .field-label
            =t('domain.is_role')
        .field-content
            = h (@domain.is_role ? t('domain.yes_true') : t('domain.no_false'))
    .field
        .field-label
            =t('domain.is_userdomain')
        .field-content
            = h (@domain.is_userdomain ? t('domain.yes_true') : t('domain.no_false'))

.action-links
    - if authorize?('view_domain')
        = link_to t('action.back'), domains_path, :class => 'acts_as_button darkgray'
    - if authorize?('edit_domain')
        = link_to t('action.edit'), edit_domain_path(@domain), :class => 'acts_as_button'
    
