- semantic_form_for @catalog_type do |f|
  = f.error_messages
  - f.inputs do
    = f.input :name
    = f.input :import_method, :as => :select, :collection => ImporterManager.instance.import_methods.keys, :include_blank => false
    = f.input :application, :as => :select, :collection => CatalogManager.instance.application_names, :include_blank => true
    - if active_catalogs_select==true
      = f.input :active_catalog, :as => :select, :collection => @catalog_type.catalogs, :label_method => :catalog_select_name
  = f.buttons