%h1 Editing catalog_type
- form_for(@catalog_type) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :import_method
    %br/
    = f.select(:import_method, ImporterManager.instance.import_methods.keys )
  %p
    = f.label :application
    %br/
    = f.select(  :application, CatalogManager.instance.application_names )
  %p
    = f.label :active_catalog_id
    %br/
    = f.collection_select(  :active_catalog_id, @catalog_type.catalogs , :id, :catalog_select_name)
  %p
    = f.submit 'Update'
= link_to t(:show), @catalog_type, :class => 'acts_as_button'
|
=link_to t(:back), catalog_types_path, :class => 'acts_as_button darkgray'
