- semantic_form_for @appointment do |f|
    = f.error_messages

    - f.inputs do
        = f.input :start_date, :as => :calendar
        = f.input :end_date, :as => :calendar
        = f.input :name
        = f.input :description, :input_html => { :rows => 4, :cols => 30 }
        = f.input :task, :as => :select, :collection => @tasks, :include_blank => true
    = f.buttons
