%h1=t('appointment.listing')
%table
  %tr
    %th=t('appointment.starting_date')
    %th=t('appointment.ending_date')
    %th=t('appointment.name')
    %th=t('appointment.description')
  - @appointments.each do |appointment|
    %tr
      %td= h appointment.start_date
      %td= h appointment.end_date
      %td= h appointment.name
      %td= h appointment.description
      %td= link_to t('action.show'), appointment
      %td= link_to t('action.edit'), edit_appointment_path(appointment)
      %td= link_to t('action.destroy'), appointment, :confirm => t('delete_confirmation'), :method => :delete
%br/
= link_to t('appointment.new_button'), new_appointment_path, :class => 'acts_as_button'
