- title @appointment.name

.fields
    .field
        .field-label
            =t('appointment.starting_date')
        .field-content
            = h @appointment.start_date
    .field
        .field-label
            =t('appointment.ending_date')
        .field-content
            = h @appointment.end_date
    .field
        .field-label
            =t('appointment.name')
        .field-content
            = h @appointment.name
    .field
        .field-label
            =t('appointment.description')
        .field-content
            = h @appointment.description
    - if @appointment.task
        .field
            .field-label
                =t('appointment.task')
            .field-content
                = link_to @appointment.task.to_label, patient_task_path(:patient_id => current_active_patient.id ,:id => @appointment.task.id)

.action-links
    - if authorize?('view_appointment')
        = link_to t('action.back'), appointments_path, :class => 'acts_as_button darkgray'
    - if authorize?('view_appointment')
        = link_to t('appointment.calendar'), calendar_path
    - if authorize?('edit_appointment')
        = link_to t('action.edit'), edit_appointment_path(@appointment), :class => 'acts_as_button'
    
