- title @diagnosis.icd_entry.name

.fields
    .field
        .field-label
            =t('diagnosis.catalog_entry')
        .field-content
            = h @diagnosis.icd_entry.name
    .field
        .field-label
            = t('diagnosis.catalog_entry_code')
        .field-content
            = h @diagnosis.icd_entry.code
    .field
        .field-label
            =t('diagnosis.description')
        .field-content
            = h @diagnosis.description
    .field
        .field-label
            =t('diagnosis.created_at')
        .field-content
            = h show_datetime(@diagnosis.created_at)
    .field
        .field-label
            =t('diagnosis.user')
        .field-content
            -if authorize?('view_users')
                = link_to (h(@diagnosis.user.first_name+" "+ @diagnosis.user.family_name)) , @diagnosis.user
            - else
                h @diagnosis.user.first_name+" "+ @diagnosis.user.family_name
    .field
        .field-label
            =t('diagnosis.treatments')
        .field-content
            -if @diagnosis.treatments.length > 0
                -@diagnosis.treatments.each do |treatment|
                    = link_to truncate(treatment.description, :omission => "...", :length => 80), patient_case_file_treatment_path(:patient_id => current_active_patient.id, :case_file_id => get_case_for_view,:id => treatment.id)
                  
                    %br
            -else
                &minus;

.action-links
    - if authorize?('view_diagnosis')
        = link_to t('action.back'), patient_case_file_diagnoses_path(:patient_id => current_active_patient.id, :case_file_id => get_case_for_view), :class => 'acts_as_button darkgray'
    - if authorize?('edit_diagnosis')
        = link_to t('action.edit'), edit_patient_case_file_diagnosis_path(:patient_id => current_active_patient.id, :case_file_id => get_case_for_view, :id => @diagnosis), :class => 'acts_as_button'

