= javascript_include_tag :ckeditor

-title t('admin.medical_reports.new')

- semantic_form_for(@report_header) do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title

  %p
    = f.label :html
    %br
    = f.cktext_area :html, :toolbar=>'Full', :width=>'70%', :heigth=>'200px'

  %p
    = f.submit t('action.create')


.action-links
  - if authorize?('view_reportheader')
    = link_to t('action.back'), report_headers_path , :class => 'acts_as_button darkgray'