%h1 Editing case_file

- semantic_form_for @case_file do |f|
    = f.error_messages

    - f.inputs do
        = f.input :entry_date
        = f.input :leave_date
    = f.buttons

.action-links
    = link_to t('action.destroy'), @case_file, :confirm => t('delete_confirmation'), :method => :delete, :class => 'acts_as_button lightgray'
    = link_to t('action.back'), case_files_path, :class => 'acts_as_button darkgray'