%h1 Editing case_file
- form_for(@case_file) do |f|
  = f.error_messages
  %p
    = f.label t('case_file.entry_date')
    %br/
    = f.date_select :entry_date
  %p
    = f.label t('case_file.leave_date')
    %br/
    = f.date_select :leave_date
  %p
    = f.submit t('action.update')
= link_to t('action.show'), @case_file, :class => 'acts_as_button'
|
=link_to t('action.back'), case_files_path, :class => 'acts_as_button darkgray'