- title t('case_file.edit')

- semantic_form_for(@case_file, :url => patient_case_file_path(params[:patient_id])) do |f|
    = f.error_messages

    - f.inputs do
        = f.input :entry_date, :as => :calendar
        = f.input :leave_date, :as => :calendar
    = f.buttons

.action-links
    = link_to t('action.destroy'), url_for(:controller => 'case_files', :action => 'destroy', :id => @case_file.id, :patient_id => current_active_patient.id), :confirm => t('delete_confirmation'), :method => :delete, :class => 'acts_as_button lightgray'
    = link_to t('action.back'), patient_case_files_path(:patient_id => current_active_patient.id), :class => 'acts_as_button darkgray'