- title @case_file.entry_date.to_s + " - " + @case_file.leave_date.to_s

.fields
    .field
        .field-label
            =t('case_file.entry_date')
        .field-content
            = h show_date(@case_file.entry_date)
    .field
        .field-label
            =t('case_file.leave_date')
        .field-content
            = h show_date(@case_file.leave_date)

.action-links
    = link_to t('action.back'), patient_case_files_path(:patient_id => current_active_patient.id), :class => 'acts_as_button darkgray'
    = link_to t('case_file.activate_for_view'), setcaseforview_path(:patient_id => current_active_patient.id, :id => @case_file.id), :class => 'acts_as_button darkyellow'
    = link_to t('action.edit'), edit_patient_case_file_path(:patient_id => current_active_patient.id, :id => @case_file.id), :class => 'acts_as_button'