%p
    %b=t('case_file.entry_date') + ":"
    = h @case_file.entry_date
%p
    %b=t('case_file.leave_date') + ":"
    = h @case_file.leave_date

.action-links
    = link_to t('action.edit'), edit_case_file_path(@case_file), :class => 'acts_as_button'
    = link_to t('action.activate'), {:controller => 'case_files', :action => 'setactive', :id => @case_file.id}, :class => 'acts_as_button darkyellow'
    = link_to t('action.back'), case_files_path, :class => 'acts_as_button darkgray'