- form_for @user do |f|
    = f.error_messages
    %p
        = f.label t('user.username')
        %br/
        = f.text_field :username

    %p
        = f.label t('user.email')
        %br/
        = f.text_field :email
    %p
        = f.label t('user.password')
        %br/
        = f.password_field :password
    %p
        = f.label t('user.password_confirmation')
        %br/
        = f.password_field :password_confirmation
    %p
        = f.label t('user.first_name')
        %br/
        = f.text_field :first_name
    %p
        = f.label t('user.family_name')
        %br/
        = f.text_field :family_name
    %p
        = f.label t('user.address')
        %br/
        = f.text_area :address, :size => '34x5'
    %p
        = f.label t('user.phone')
        %br/
        = f.text_field :phone
    %p
        = f.label t('user.language')
        %br/
        = f.text_field :language
    %div
        %label=t('user.domain')
        - Domain.all.each do |d|
            %p
                = check_box_tag :user_domain_ids, d.id, @user.domains.include?(d), :name => 'user[domain_ids][]'
                = f.label :domain_ids, d.name
    %p
        = f.submit t('action.save')

