- title @user.username
%p
  %b=t('user.username')
  = h @user.username
%p
  %b=t('user.email')
  = h @user.email
%p
  %b=t('user.first_name')
  = h @user.first_name
%p
  %b=t('user.family_name')
  = h @user.family_name
%p
  %b=t('user.address')
  = h @user.address
%p
  %b=t('user.phone')
  = h @user.phone
%p
  %b=t('user.language')
  = h @user.language
%p
  %b=t('user.role')
  - @user.domains.each do |d|
    = d.name

= link_to t('action.edit'), edit_user_path(@user), :class => 'acts_as_button'
|
= link_to t('action.back'), users_path, :class => 'acts_as_button darkgray'
