- title @user.username
.fields
    .field
        .field-label
            =t('user.username')
        .field-content
            = h @user.username
    .field
        .field-label
            =t('user.email')
        .field-content
            = h @user.email
    .field
        .field-label
            =t('user.first_name')
        .field-content
            = h @user.first_name
    .field
        .field-label
            =t('user.family_name')
        .field-content
            = h @user.family_name
    .field
        .field-label
            =t('user.address')
        .field-content
            = simple_format @user.address
    .field
        .field-label
            =t('user.phone')
        .field-content
            = h @user.phone
    .field
        .field-label
            =t('user.phone')
        .field-content
            = h @user.phone
    .field
        .field-label
            =t('user.role')
        .field-content
            - @user.domains.each do |d|
                = d.name

.action-links
    = link_to t('action.edit'), edit_user_path(@user), :class => 'acts_as_button'
    = link_to t('action.back'), users_path, :class => 'acts_as_button darkgray'
