- title t('user.listing')

%table
    %thead
        %tr
            %th=t('user.username')
            %th=t('user.email')
            %th=t('user.first_name')
            %th=t('user.family_name')
            %th=t('user.role')
            %th{ :colspan => '3' }
    %tbody
        - @users.each do |user|
            %tr{:class => is_admin?(user.id)}
                %td= h user.username
                %td= h user.email
                %td= h user.first_name
                %td= h user.family_name
                %td
                    - user.domains.each do |d|
                        = d.name + '<br />'
                %td= link_to t('action.show'), user
                %td= link_to t('action.edit'), edit_user_path(user)
                %td= link_to t('action.destroy'), user, :confirm => t('delete_confirmation'), :method => :delete

.color-legend
    %span.color.yellow
    %span.color-description
        = t('color-legend.user.view_admin')

.action-links
    - if authorize?('create_user')
        = link_to t('user.new_button'), new_user_path, :class => 'acts_as_button'
