[<% if !@shownode.children.empty?
  commacount=@shownode.children.size
  @shownode.children.each do |node| 
  %>{text: '<%=  node.name %>' ,  id:'<%=  node.id %>' , cls : 'folder'}<%
    commacount=commacount-1;  if commacount!=0
    %>,<% end end end

if !@shownode.entries.empty?
  if !@shownode.children.empty?
    %>,<%
  end
commacount=@shownode.entries.size
@shownode.entries.each do |entry|
%>{ id:'_<%=  entry.id %>', text : '<span id="node-id"><%= entry.code %>:</span><span id="node-name"><%= entry.name%></span><% if entry.description%> <span id="node-description">(<%= entry.description %>)</span><%end%>', leaf : true<% if checkbox=='true'%>, checked:false<%end%>}<%
  commacount=commacount-1;  if commacount!=0
  %>,<% end  end  end %>]