%h1 Editing catalog
- form_for(@catalog) do |f|
  = f.error_messages
  %p
    = f.label :year
    %br/
    = f.text_field :year
  %p
    = f.label :language
    %br/
    = f.text_field :language
  %p
    = f.submit t(:update)
= link_to t(:show), @catalog, :class => 'acts_as_button'
|
=link_to t(:back), catalogs_path, :class => 'acts_as_button darkgray'
