- title t('admin.catalog.user_defined.edit_field_entry')

- form_tag url_for(:controller => 'catalogs' , :action=> 'update_field_entry', :id => @catalog.id, :node_to_edit => @edit_field_entry.id) do
  %p
    = label_tag :code,t('formtastic.labels.field_entry.code')
    %br/
    = text_field_tag :code, @edit_field_entry.code
  %p
    = label_tag :name,t('formtastic.labels.field_entry.name')
    %br/
    = text_field_tag :name, @edit_field_entry.name
  %p
    = label_tag :description,t('formtastic.labels.field_entry.description')
    %br/
    = text_field_tag :description, @edit_field_entry.description
  - if @edit_field_entry.instance_of? FieldEntry
    %div
      = label_tag :input_type,t('formtastic.labels.field_definition.input_type')
      %br/
      = select_tag :input_type, options_for_select(InputTypeManager.input_type_descriptions,@edit_field_entry.field_definition.input_type)
      = t('formtastic.hints.field_definition.input_type')
      
    %div
      = label_tag :additional_type_info,t('formtastic.labels.field_definition.additional_type_info')
      %br/
      = text_field_tag :additional_type_info, @edit_field_entry.field_definition.additional_type_info
      = t('formtastic.hints.field_definition.additional_type_info')
     
  %p
    = submit_tag t('action.update')
    %br/
= link_to t('action.back'), @catalog