%h1 Listing catalogs
%table
  %tr
    %th Year
    %th Language
    %th Catalog Type
  - @catalogs.each do |catalog|
    %tr
      %td= h catalog.year
      %td= h catalog.language
      %td= h catalog.catalog_type.name
      %td= link_to t(:show), catalog
      %td= link_to t(:edit), edit_catalog_path(catalog)
      %td= link_to t(:destroy), catalog, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New catalog', new_catalog_path
