%h1=t('admin.catalog.listing')
%table
    %tr
        %th=t('admin.catalog.year')
        %th=t('admin.catalog.language')
        %th=t('admin.catalog.type')
        %th{:colspan => 3}
    - @catalogs.each do |catalog|
        %tr
        %td= h catalog.year
        %td= h catalog.language
        %td= h catalog.catalog_type.name
        %td= link_to t('action.show'), catalog
        %td= link_to t('action.edit'), edit_catalog_path(catalog)
        %td= link_to t('action.destroy'), catalog, :confirm => t('delete_confirmation'), :method => :delete

.action-links
    = link_to t('admin.catalog.new_button'), new_catalog_path, :class => 'acts_as_button'
