%h1=t('admin.catalog.import')

- semantic_form_for @catalog do |f|
    = f.error_messages

    - f.inputs do
        = f.input :year
        = f.input :language
        = f.input :catalog_type_id, :as => :select,  :collection => CatalogType.find(:all), :include_blank => false, :required => true
        = f.input :dump, :as => :file, :required => true
    = f.buttons

