- title t('admin.catalog.import')

- semantic_form_for @catalog, :url => {:action=> 'create'}, :html => {:onSubmit => "showAjaxLoadingBar()", :multipart => true } do |f|
  = f.error_messages

  - f.inputs do
    = f.input :year
    = f.input :language
    = f.input :catalog_type_id, :as => :select, :collection => CatalogType.find(:all)
    = f.input :dump, :as => :file
  = render :partial => 'shared/loading_bar_element'
  = f.buttons

.actions-links
  = link_to t('action.back'), catalogs_path
