%h1 Import catalog
- form_for :catalog, @catalog,:url => {:action=> 'create'}, :html => { :multipart => true }, do |f|
  = f.error_messages
  %p
    = f.label :year
    %br/
    = f.text_field :year
  %p
    = f.label :language
    %br/
    = f.text_field :language
  %p
    = f.label :catalog_type_id
    %br/
    = f.collection_select( :catalog_type_id, CatalogType.find(:all),:id,:name )
  %p
    = f.label :dump ,"Catalog"
    %br/
    = f.file_field :dump
  %p
    = f.submit 'Import'
    %br/
= link_to t(:back), catalogs_path, :class => 'acts_as_button darkgray'
