- title @catalog.catalog_type.name + " " + @catalog.year + " " + @catalog.language
- is_active = @catalog.catalog_type.active_catalog && @catalog.catalog_type.active_catalog.id == @catalog.id
.fields
    .field
        .field-label
            =t('admin.catalog.year')
        .field-content
            = h @catalog.year
    .field
        .field-label
            =t('admin.catalog.language')
        .field-content
            = h @catalog.language
    .field
        .field-label
            =t('admin.catalog.type')
        .field-content
            = h @catalog.catalog_type.name
    .field
        = link_to t('action.edit'), edit_catalog_path(@catalog), :class => 'acts_as_button'
- form_tag  url_for(:controller => "catalogs" , :action => :edit_field_entry , :id => @catalog.id), :id => 'edit_userdefined_form' do
    .show-catalog-tree
        = radio_tree @catalog , 'edit_userdefined_form' , 'node_to_edit'
    .catalog_edit_action
        - if !(@catalog.root_node.children.empty? && @catalog.root_node.entries.empty?)
            = submit_tag t('admin.catalog.user_defined.edit_field_entry'), :name => "edit_field_entry"
            = submit_tag t('admin.catalog.user_defined.delete_field_entry'), :name => "delete_field_entry"
        - if @catalog.catalog_type.import_method == 'dummy'
            = link_to t('admin.catalog.user_defined.add_field_entry'), {:controller => :catalogs, :action => :add_field_entry, :id => @catalog.id} , :class => 'acts_as_button'

.action-links
    
    - if !is_active
        = link_to t('action.activate'), {:controller => :catalogs, :action => :activate, :id => @catalog.id} , :class => 'acts_as_button'
    = link_to t('action.back'), catalogs_path, :class => 'acts_as_button darkgray'
