- title t(:login)

- form_for @user_session do |f|
    = f.error_messages
    %p
        = f.label t(:username)
        %br/
        = f.text_field :username
    %p
        = f.label t(:password)
        %br/
        = f.password_field :password
    %p
        = f.submit t(:save_changes)

%p
    = link_to t(:register), new_user_path