- title t('template.listing')

%table
    %thead
        %tr
            %th=t('template.name')
            %th=t('template.domain')
            %th{ :colspan => '3' }
    %tbody
        - @templates.each do |temp|
            %tr
                %td= h temp.name
                %td= h temp.domain.name
                %td= link_to t('action.show'), temp
                %td= link_to t('action.edit'), edit_template_path(temp)
                %td= link_to t('action.destroy'), temp, :confirm => t('delete_confirmation'), :method => :delete
.action-links
    = link_to t('template.new_button'), new_template_path, :class => 'acts_as_button'
