- title t('permissions.listing')

- form_tag update_all_permissions_permissions_path, :method => :put do
  %table
    %tr
      %th Permission
      - @domains.each do |d|
        %th= d.name
    - @perms.each do |pheadline, value|
      %tr{:class => 'permission-group'}
        %td{:class => 'permission-group'}= h pheadline
        - @domains.each do |d|
          %td
      - value.each do |p, desc|
        %tr
          %td{:class => 'permission'}= h desc
          - @domains.each do |d|
            %td= check_box_tag "perms[]", d.name + ";" + p, d.has_permission?(p)

  = submit_tag t('permissions.update'), :disable_with => t('please_wait')

