:javascript
  var catalog_id=#{catalog.id};
- if checkbox!=false
  - if !local_assigns.has_key?(:param_name)
    -param_name='selected_node_result'
  
  :javascript
    var form_id='#{form_html_id}';
    var node_result_id='#{param_name}';
    var nodeselection = [#{selected_nodes}];
    var selected_node_path= -1;
    var single_selection=false;
  <input type='hidden' id='#{param_name}' name='#{param_name}' value='-1'>
  #catalog_tree_select
  - if checkbox=='single'
    :javascript
      selected_node_path = "#{selected_node_path}";
      var single_selection = true;
- else
  #catalog_tree