:javascript
  var catalog_id=#{catalog.id};
- if checkbox!=false
  -if !local_assigns.has_key?(:param_name)
    -param_name='selected_node_result'
  :javascript
    var form_id='#{form_html_id}';
    var node_result_id='#{param_name}';
  - if checkbox=='multi'
    <input type='hidden' id='#{param_name}' name='#{param_name}' value='-1'>
    #catalog_tree_multi_select
    - elsif checkbox=='single'
    <input type='hidden' id='#{param_name}' name='#{param_name}' value='-1'>
    #catalog_tree_single_select
- else
  #catalog_tree