.user-info
    =link_to make_image_link(current_user.username, "name"), {:controller => 'users', :action => 'show', :id => current_user.id}
.domain-info
    %span.name
        - current_user.domains.each do |d|
            = d.name + ' '

.links
    -if current_active_patient
        .active-patient{:onclick=>"location.href='#{url_for :controller => 'patients', :action => 'show', :id => current_active_patient.id}';"}
            %span
                =t('patient.active') + ":"
            =current_active_patient.first_name
            =current_active_patient.family_name

        - if !get_case_for_view.nil?
            - if get_case_for_view != current_active_patient.active_case_file_id
                .active-case{:onclick=>"location.href='#{url_for :controller => 'case_files', :action => 'index'}';"}
                    %span
                        =t('case_file.active')

    - if current_user
        = link_to t('logout'), logout_path, :class => "links-link"
        = link_to t('edit_profile'), edit_user_path(current_user.id), :class => "links-link"
    - else
        = link_to t('register'), new_user_path, :class => "links-link"
        = link_to t('login'), login_path, :class => "links-link"

