.user-info
    =link_to make_image_link(current_user.username, "name"), {:controller => 'users', :action => 'show', :id => current_user.id}
.domain-info
    %span.name
        - current_user.domains.each do |d|
            = d.name + ' '

.links
    -if current_active_patient
        .active-patient
            -if current_active_patient
                %span
                    =t('patient.active') + ":"
                =current_active_patient.first_name
                =current_active_patient.family_name
                =link_to t('action.show'), {:controller => 'patients', :action => 'show', :id => current_active_patient.id}
                =link_to t('action.edit'), {:controller => 'patients', :action => 'edit', :id => current_active_patient.id}

    - if current_user
        = link_to t('edit_profile'), edit_user_path(current_user.id), :class => "links-link"
        = link_to t('logout'), logout_path, :class => "links-link"
    - else
        = link_to t('register'), new_user_path, :class => "links-link"
        = link_to t('login'), login_path, :class => "links-link"

