#search_form
    %label=t('patient.search')
    %br/
    .patient-search
        = text_field_tag("query", params[:query], :autocomplete => "off", :value => session[:query] )
        %img{:src => '/images/search.png', :alt => 'Search'}
        = observe_field 'query',  :frequency => 0.5,                  |
            :update => "search_results",                              |
            :url => {:controller => "patients", :action => "search"}, |
            :with => "query"                                          |

#search_results
    %table
        %tr
            %th=t('formtastic.labels.patient.first_name')
            %th=t('formtastic.labels.patient.family_name')
            %th=t('formtastic.labels.patient.birthdate')
            %th=t('formtastic.labels.patient.address')
            %th=t('formtastic.labels.patient.sex')
            %th=t('formtastic.labels.patient.phone')
        - @patients.each do |patient|
            %tr{:onclick=>"location.href='#{url_for :controller => 'patients', :action => 'show', :id => patient.id}';",:style=>"cursor:pointer;", :class => css_for_active_patient(patient.id)}
                %td= h patient.first_name
                %td= h patient.family_name
                %td= h patient.birthdate
                %td= h patient.address
                %td= h patient.sex
                %td= h patient.phone
    = will_paginate @patients