- if searchresults.length == 0
  %p=t('patient.search_fail')
- else
  %table
    %tr
      %th=t('patient.first_name')
      %th=t('patient.family_name')
      %th=t('patient.birthdate')
      %th=t('patient.address')
      %th=t('patient.sex')
      %th=t('patient.phone')
    - for patient in searchresults
      %tr{:onclick=>"location.href='#{url_for :controller => 'patients', :action => 'show', :id => patient.id}';",:style=>"cursor:pointer;"}
        %td= h patient.first_name
        %td= h patient.family_name
        %td= h patient.birthdate
        %td= h patient.address
        %td= h patient.sex
        %td= h patient.phone
= will_paginate @searchresults