%h1=t('comments.listing')
%table
  %tr
    %th=t('comment.string')
    %th=t('comment.date')
  - @comments.each do |comment|
    %tr
      %td= h comment.comment
      %td= h comment.date
      %td= link_to t('action.show'), comment
      %td= link_to t('action.edit'), edit_comment_path(comment)
      %td= link_to t('action.destroy'), comment, :confirm => t('delete_confirmation'), :method => :delete
%br/
= link_to t('comment.new_button'), new_comment_path, :class => 'acts_as_button'
