- title t('comment.listing')
%table
    %tr
        %th=t('comment.string')
        %th=t('comment.date')
    - @comments.each do |comment|
        %tr{:onclick=>"location.href='#{url_for :controller => 'comments', :action => 'show', :id => comment.id}';",:style=>"cursor:pointer;"}
            %td= h comment.comment
            %td= h show_date(comment.created_at)

= will_paginate @comments

.action-links
    = link_to t('comment.new_comment'), new_patient_comment_path(:patient_id => params[:patient_id]), :class => 'acts_as_button'
