- title t('comment.new')

- semantic_form_for(@comment, :url => patient_comments_path(params[:patient_id])) do |f|
    = f.error_messages

    - f.inputs do
        = f.input :comment, :input_html => { :rows => 4, :cols => 30 }
    = f.buttons

.action-links
    - if authorize?('view_comment')
        = link_to t('action.comments.back_to_comments_list'), patient_comments_path(:patient_id => params[:patient_id]), :class => 'acts_as_button darkgray'
    - if authorize?('view_patient')
        = link_to t('action.comments.back_to_patient'), patient_path(:id => params[:patient_id]), :class => 'acts_as_button darkgray'

