- title truncate(@comment.comment, :omission => "...", :length => 40)

.fields
    .field
        .field-label
            =t('comment.string')
        .field-content
            = h @comment.comment
    .field
        .field-label
            =t('comment.date')
        .field-content
            = h show_datetime(@comment.created_at)

.action-links
    - if authorize?('edit_comment')
        = link_to t('action.edit'), edit_patient_comment_path(:id => @comment.id, :patient_id => params[:patient_id]), :class => 'acts_as_button'
    - if authorize?('view_comment')
        = link_to t('action.comments.back_to_comments_list'), patient_comments_path(:patient_id => params[:patient_id]), :class => 'acts_as_button darkgray'
    - if authorize?('view_patient')
        = link_to t('action.comments.back_to_patient'), patient_path(:id => params[:patient_id]), :class => 'acts_as_button darkgray'
