- if searchresults.length == 0
  .messages.warning
    %p=t('patient.search_fail')
- else
  %table
    %tr
      %th=t('formtastic.labels.patient.first_name')
      %th=t('formtastic.labels.patient.family_name')
      %th=t('formtastic.labels.patient.birthdate')
      %th=t('formtastic.labels.patient.address')
      %th=t('formtastic.labels.patient.sex')
      %th=t('formtastic.labels.patient.phone')
      - if case_file_link?
        %th=t('patient.case_file_link')
    - for patient in searchresults
      %tr{:onclick=>"location.href='#{url_for :controller => 'patients', :action => 'show', :id => patient.id}';",:style=>"cursor:pointer;"}
        %td= h patient.first_name
        %td= h patient.family_name
        %td= h patient.birthdate
        %td= h patient.address
        %td= h patient.sex
        %td= h patient.phone
        - if case_file_link?
          %td= link_to t('patient.new_case'), new_patient_case_file_path( :patient_id => patient.id )

= will_paginate @searchresults