-title t('finding.index')

#history{:style => "display:none;"}
    die history



.box
    .box-inner
        = select_tag 'fields', options_for_select(@fieldhash)
        = facebox_link("Show History", "#history")

#tasks
    %table
        %tr
            %th=t('task.domain')
            %th=t('task.creator')
            %th=t('task.deadline')
            %th=t('task.creator_comment')
            %th=t('task.executor_comment')
        - @findings.each do |task|
            - domain = Domain.find_by_id(task.domain_id)
            - creator = User.find_by_id(task.creator_user_id)

            %tr{:onclick=>"location.href='#{taskresults_path(:id => task.id)}';",:style=>"cursor:pointer;"}
                %td= h domain.name
                %td= h creator.username
                %td= h show_date(task.deadline)
                %td= h truncate(task.creator_comment, :omission => "...", :length => 40)
                %td= h truncate(task.executor_comment, :omission => "...", :length => 40)
                