- semantic_form_for @task, :url => { :action => "createentries" , :id => @task.id } do |f|
    = f.error_messages

    %h2
        =t('task.fields')
    #templates
        - @fieldshash.each do |k,v|
            = MedicalTemplate.find(k).name
            .template-content{:id=>"t#{k}"}
                %table
                    %thead
                        %tr
                            %th=t('task.name')
                            %th=t('task.value')
                            %th=t('task.comment')
                    %tbody
                        -v.each do |x,y|
                            %tr.template-field
                                - fielddef = FieldDefinition.find(y.field_definition_id)
                                %td= Entry.find(fielddef.field_entry_id).name
                                - fields_for y do |fi|
                                    %td= text_field 'values', x, :size => '20'
                                    %td= text_field 'comments', x, :size => '20'
    %h2
        =t('task.additional_information')
    - f.inputs do
        = f.input :executor_comment
    = f.buttons
