#tasks
    %table
        %tr
            %th=t('task.state')
            %th=t('task.domain')
            - if !showmytasks.nil? && showmytasks == 1
                %th=t('task.patient')
            - else
                %th=t('task.creator')
            %th=t('task.deadline')
            %th=t('task.creator_comment')
            %th=t('task.executor_comment')
            %th=t('task.results')
            %th=t('task.fill')
        - @tasks.each do |task|
            - domain = Domain.find_by_id(task.domain_id)
            - if !showmytasks.nil? && showmytasks == 1
                - casefile = CaseFile.find_by_id(task.case_file_id)
                - patient = Patient.find_by_id(casefile.patient_id)

            - creator = User.find_by_id(task.creator_user_id)
            - if current_active_patient
                %tr{:onclick=>"location.href='#{patient_task_path(:patient_id => current_active_patient.id ,:id => task.id)}';",:style=>"cursor:pointer;"}
                    %td
                        - if task_is_open?(task.state)
                            %span.task-open
                                = h t('task.open')
                        - elsif task_is_inprogress?(task.state)
                            %span.task-inprogress
                                = h t('task.in_progress')
                        - else
                            %span.task-closed
                                = h t('task.closed')


                    %td= h domain.name
                    - if !showmytasks.nil? && showmytasks == 1
                        %td= h(patient.first_name + " " + patient.family_name)
                    - else
                        %td= h creator.username
                    %td= h show_date(task.deadline)
                    %td= h truncate(task.creator_comment, :omission => "...", :length => 40)
                    %td= h truncate(task.executor_comment, :omission => "...", :length => 40)
                    %td
                        - if !task_is_open?(task.state) && !task_is_inprogress?(task.state) && (authorize?('show_result_task') || (authorize?('show_result_own_task') && is_creator?(task.creator_user_id)))
                            = link_to t('task.showresults'), taskresults_path(:id => task.id)
                    %td
                        - if task_is_open?(task.state) || task_is_inprogress?(task.state) && (authorize?('fill_every_task') || (authorize?('fill_own_domain_task') && is_in_domain?(task.domain_id)))
                            = link_to t('task.fill'), taskfill_path(:id => task.id)

            -else
                %tr{:onclick=>"location.href='#{task_path(:id => task.id)}';",:style=>"cursor:pointer;"}
                    %td
                        - if task_is_open?(task.state)
                            %span.task-open
                                = h t('task.open')
                        - elsif task_is_inprogress?(task.state)
                            %span.task-inprogress
                                = h t('task.in_progress')
                        - else
                            %span.task-closed
                                = h t('task.closed')
                    %td= h domain.name
                    - if !showmytasks.nil? && showmytasks == 1
                        %td= h(patient.first_name + " " + patient.family_name)
                    - else
                        %td= h creator.username
                    %td= h show_date(task.deadline)
                    %td= h truncate(task.creator_comment, :omission => "...", :length => 40)
                    %td= h truncate(task.executor_comment, :omission => "...", :length => 40)
                    %td
                        - if !task_is_open?(task.state) && !task_is_inprogress?(task.state) && (authorize?('show_result_task') || (authorize?('show_result_own_task') && is_creator?(task.creator_user_id)))
                            = link_to t('task.showresults'), taskresults_path(:id => task.id)
                    %td
                        - if task_is_open?(task.state) || task_is_inprogress?(task.state) && (authorize?('fill_every_task') || (authorize?('fill_own_domain_task') && is_in_domain?(task.domain_id)))
                            = link_to t('task.fill'), taskfill_path(:id => task.id)

.action-links
    - if authorize?('create_task')
        -if current_active_patient
            = link_to t('task.new_task'), new_patient_task_path(:patient_id => current_active_patient.id), :class => "acts_as_button"
        -else
            = link_to t('task.new_task'), new_task_path, :class => "acts_as_button"