-title t('task.index')
%table
  %tr
    %th=t('task.deadline')
    %th=t('task.creator_comment')
    %th=t('task.executor_comment')
    %th=t('task.state')
  - @tasks.each do |task|
    %tr{:onclick=>"location.href='#{url_for :controller => 'tasks', :action => 'show', :id => task.id}';",:style=>"cursor:pointer;"}
      %td= h task.deadline
      %td= h task.creator_comment
      %td= h task.executor_comment
      %td= h task.state

.action-links
  - if authorize?('create_task')
    = link_to t('task.new_task'), new_task_path, :class => "acts_as_button"