%h1 Listing tasks
%table
  %tr
    %th Deadline
    %th Creator comment
    %th Executor comment
    %th State
    %th{:colspan => '3'}
  - @tasks.each do |task|
    %tr
      %td= h task.deadline
      %td= h task.creator_comment
      %td= h task.executor_comment
      %td= h task.state
      %td= link_to 'Show', task
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete

.action-links
  - if authorize?('create_task')
    = link_to t('task.new_task'), new_task_path, :class => "acts_as_button"