- title t("task.task_for") + " " + @domain.name

.fields
    .field
        .field-label
            =t('task.deadline')
        .field-content
            = h @task.deadline
    .field
        .field-label
            =t('task.creator_comment')
        .field-content
            = h @task.creator_comment
    .field
        .field-label
            =t('task.executor_comment')
        .field-content
            = h @task.executor_comment
    .field
        .field-label
            =t('task.state')
        .field-content
            = h @task.state


.action-links
    -if current_active_patient
        = link_to t('action.edit'), edit_patient_task_path(:patient_id => current_active_patient.id, :id => @task.id), :class => 'acts_as_button'
        = link_to t('action.back'), patient_tasks_path(:patient_id => current_active_patient.id), :class => 'acts_as_button darkgray'
    -else
        = link_to t('action.edit'), edit_task_path(@task), :class => 'acts_as_button'
        = link_to t('action.back'), tasks_path, :class => 'acts_as_button darkgray'
