%h1=t(:editing_patient)
- form_for(@patient) do |f|
  = f.error_messages
  %p
    = f.label t(:first_name)
    %br/
    = f.text_field :first_name
  %p
    = f.label t(:family_name)
    %br/
    = f.text_field :family_name
  %p
    = f.label t(:birthdate)
    %br/
    = f.date_select :birthdate
  %p
    = f.label t(:address)
    %br/
    = f.text_area :address
  %p
    = f.label t(:sex)
    %br/
    = f.text_field :sex
  %p
    = f.label t(:phone)
    %br/
    = f.text_field :phone
  %p
    = f.submit t(:update)
= link_to t(:show), @patient, :class => 'acts_as_button'
|
=link_to t(:back), patients_path, :class => 'acts_as_button darkgray'
