%h1=t('patient.listing')

- if current_user.has_permission?('create_patient')
  = link_to t('patient.new_button'), new_patient_path
%br/
=t('patient.search')
#search_form
  = text_field_tag("query", params[:query], :autocomplete => "off" )
  = observe_field 'query',  :frequency => 0.5,                |
    :update => "search_results",                              |
    :url => {:controller => "patients", :action => "search"}, |
    :with => "query"                                          |
%br/
#search_results
  %table
    %tr
      %th=t('patient.first_name')
      %th=t('patient.family_name')
      %th=t('patient.birthdate')
      %th=t('patient.address')
      %th=t('patient.sex')
      %th=t('patient.phone')
    - @patients.each do |patient|
      %tr{:onclick=>"location.href='#{url_for :controller => 'patients', :action => 'show', :id => patient.id}';",:style=>"cursor:pointer;"}
        %td= h patient.first_name
        %td= h patient.family_name
        %td= h patient.birthdate
        %td= h patient.address
        %td= h patient.sex
        %td= h patient.phone
%br/