-title t('navi.tabs.master_data')

.fields
    .field
        .field-label
            =t('formtastic.labels.patient.first_name')
        .field-content
            = h @patient.first_name
    .field
        .field-label
            =t('formtastic.labels.patient.family_name')
        .field-content
            = h @patient.family_name
    .field
        .field-label
            =t('formtastic.labels.patient.birthdate')
        .field-content
            = h @patient.birthdate
    .field
        .field-label
            =t('formtastic.labels.patient.address')
        .field-content
            = simple_format(@patient.address)
    .field
        .field-label
            =t('formtastic.labels.patient.sex')
        .field-content
            = h @patient.sex
    .field
        .field-label
            =t('formtastic.labels.patient.phone')
        .field-content
            = h @patient.phone

- if authorize?('view_comment')
    #comments
        %h2=t('comment.comments')
        .comment-link-view-wrapper
            = link_to t('action.comments.view_comments_list'), patient_comments_path(:patient_id => @patient.id), :class => 'comment-link-view'
        %ul.comments-list
            -@comments.each do |comment|
                %li.comment
                    .comment-body=comment.comment
                    .comment-date=show_datetime(comment.created_at)
                    - if authorize?('edit_comment')
                        .comment-link-edit-wrapper=link_to t('action.edit'), edit_patient_comment_path(:id => comment.id, :patient_id => @patient.id), :class => 'comment-link-edit'

        = will_paginate @comments

        - if authorize?('create_comment')
            %h2.comment_form_headline=t('comment.new_comment')
            .comment_form
                -form_tag :action => "comment", :id => @patient do
                    =error_messages_for :comment
                    =text_area "comment", "comment", :size => '34x3'
                    =submit_tag t('comment.new_comment')

.action-links
    = link_to t('action.back'), patients_path, :class => 'acts_as_button darkgray'
    = link_to t('patient.medicalreport'), patient_medical_reports_path(@patient), :class => 'acts_as_button darkyellow'
    = link_to t('action.edit'), edit_patient_path(@patient), :class => 'acts_as_button'
    - if session.has_key?(:origin)
        - if session[:origin] == 'tasks'
            = link_to t('task.totask'), '/tasks/new', :class => 'acts_as_button darkyellow'
