%p
  %b=t(:first_name)
  = h @patient.first_name
%p
  %b=t(:family_name)
  = h @patient.family_name
%p
  %b=t(:birthdate)
  = h @patient.birthdate
%p
  %b=t(:address)
  = h @patient.address
%p
  %b=t(:sex)
  = h @patient.sex
%p
  %b=t(:phone)
  = h @patient.phone
= link_to t(:edit), edit_patient_path(@patient)
|
\#{link_to t(:destroy), @patient, :confirm => 'Are you sure?', :method => :delete}
|
\#{link_to t(:back), patients_path}
