%h1=t(:editing_treatment)

- form_for(@treatment, :url =>  patient_case_file_treatment_path(params[:patient_id], params[:case_file_id])) do |f|
  = f.error_messages

  %p
    = f.label :description
    %br/
    = f.text_area :description

  %p
    = f.label :start_date
    %br/
    = f.date_select :start_date

  %p
    = f.submit t(:update)


= link_to t(:show), patient_case_file_treatment_path(:patient_id => params[:patient_id], :case_file_id => params[:case_file_id], :id => @treatment), :class => 'acts_as_button'

= link_to t(:back), patient_case_file_treatments_path(:patient_id => params[:patient_id], :case_file_id => params[:case_file_id]), :class => 'acts_as_button darkgray'