- title t('treatment.listing')

%table
    %tr
        %th=t('treatment.starting_date')
        %th=t('treatment.description')
        %th=t('treatment.ops')
        %th=t('treatment.diagnosis')
    - @treatments.each do |treatment|
        %tr{:onclick=>"location.href='#{url_for patient_case_file_treatment_path(:patient_id => params[:patient_id], :case_file_id => params[:case_file_id], :id => treatment)}';",:style=>"cursor:pointer;"}
            %td= h show_date(treatment.start_date)
            %td= h truncate(treatment.description, :omission => "...", :length => 40)
            
            %td
                -if treatment.ops_entry
                    = h treatment.ops_entry.name
                -else
                    &minus;
            %td
                -if treatment.diagnoses.length > 0
                    -treatment.diagnoses.each do |diagnosis|
                         = link_to diagnosis.icd_entry.name, patient_case_file_diagnosis_path(:patient_id => params[:patient_id], :case_file_id => params[:case_file_id],:id => diagnosis.id)
                        %br
                -else
                    &minus;

.action-links
    - if authorize?('create_treatment')
        = link_to t('treatment.new_button'), new_patient_case_file_treatment_path(:patient_id => params[:patient_id], :case_file_id => params[:case_file_id]), :class => 'acts_as_button'
