%h1=t(:treatment_listing)

%table
  %tr
    %th=t(:treatment_description)
    %th=t(:starting_date)
    %th=t(:action_treatment)
  %tr

  - @treatments.each do |treatment|
    %tr
      %td= h treatment.description
      %td= h treatment.start_date
      %td
        = link_to t(:show), patient_case_file_treatment_path(:patient_id => params[:patient_id], :case_file_id => params[:case_file_id], :id => treatment)
        = link_to t(:edit), edit_patient_case_file_treatment_path(:patient_id => params[:patient_id], :case_file_id => params[:case_file_id], :id => treatment)
      /= link_to t(:destroy), patient_case_file_treatment_path(:patient_id => params[:patient_id], :case_file_id => params[:case_file_id], :id => treatment),  :confirm => 'Are you sure?', :method => :delete

%br/

= link_to t(:new_treatment), new_patient_case_file_treatment_path(:patient_id => params[:patient_id], :case_file_id => params[:case_file_id]), :class => 'acts_as_button'