-title t('treatment.new')

%h2
    %span.task-step.step1
        = t('treatment.step1')
    = t('treatment.choose_task')

.task-patient
    - if @current_active_patient.nil?
        .task-patient-name
            = t('treatment.no_active_patient')
        .task-patient-switch
            = link_to t('treatment.select'), {:controller => 'patients', :origin=> 'treatments'}, :class => 'acts_as_button mediumgray'
    - else
        .task-patient-name
            = t('task.selected_patient') + ": "
            = @current_active_patient.family_name + ', ' + @current_active_patient.first_name
        .task-patient-switch
            = link_to t('treatment.other'), {:controller => 'patients', :origin=> 'treatments'}, :class => 'acts_as_button mediumgray'

= render :partial => 'form_taskselect'

.action-links.task-step1
    = link_to t('action.back'),  patient_case_file_treatments_path(:patient_id => @current_active_patient.id, :case_file_id => @current_active_patient.active_case_file_id), :class => 'acts_as_button darkgray'









