- title truncate(@treatment.description, :omission => "...", :length => 40)

.fields
    .field
        .field-label
            =t('treatment.starting_date')
        .field-content
            = h @treatment.start_date

    .field
        .field-label
            =t('treatment.description')
        .field-content
            = h @treatment.description

    .field
        .field-label
            =t('treatment.ops')
        .field-content
            -if @treatment.ops_entry
                = h @treatment.ops_entry.name
            -else
                &minus;

    .field
        .field-label
            =t('treatment.diagnosis')
        .field-content
            -if @treatment.diagnoses.length > 0
                -@treatment.diagnoses.each do |diagnosis|
                    = link_to diagnosis.description, diagnoses_path(:id => diagnosis.id)
                    %br
            -else
                &minus;
    .field
        .field-label
            =t('treatment.medication')
        .field-content
            -if @treatment.medications.length > 0
                -@treatment.medications.each do |med|
                    = med.atc_entry.name
                    ,
                    = med.description
                    %br
            -else
                &minus;

.action-links
    - if authorize?('view_treatment')
        = link_to t('action.back'), patient_case_file_treatments_path(:patient_id => params[:patient_id], :case_file_id => params[:case_file_id], :id => @treatment), :class => 'acts_as_button darkgray'
    - if authorize?('edit_treatment')
        = link_to t('action.edit'), edit_patient_case_file_treatment_path(:patient_id => params[:patient_id], :case_file_id => params[:case_file_id], :id => @treatment), :class => 'acts_as_button'
    