- title t('template.field_definitions.title')
- semantic_form_for @field_definition, :url => { :controller => "medical_templates" , :action => "update_field_definition" ,:id=> @medical_template.id , :field_id => @field_definition.id }, :html => { :id => 'field_definitions_form'} do |f|
  = f.error_messages
  - f.inputs do
    = f.input :input_type, :as => :select , :collection => InputTypeManager.input_type_descriptions
    = f.input :additional_type_info
    %h2=t('template.field_definitions.ucum_unit')
    - if @catalog
      - if @field_definition.example_ucum_id
        = radio_tree @catalog,'field_definitions_form', 'example_ucum_unit' ,@field_definition.example_ucum_id
      - else
        = radio_tree @catalog,'field_definitions_form', 'example_ucum_unit'
    - else
      = no_catalog_available 'ucum_units'

  - f.buttons do
    = f.commit_button :button_html => { :disable_with => t('please_wait') }
.action-links
  - if authorize?('view_medical_templates')
    = link_to t('action.back'), @medical_template, :class => 'acts_as_button darkgray'