- title t('template.listing')

%table
    %thead
        %tr
            %th=t('template.name')
            %th=t('template.domain')
            %th=t('template.count_fields')
            %th{ :colspan => '2' }
    %tbody
        - @medical_templates.each do |temp|
            %tr
                %td= link_to(h(temp.name),temp)
                %td= h temp.domain.name
                %td= temp.field_definitions.count
                %td= link_to t('action.show'), temp
                %td= link_to t('action.destroy'), temp, :confirm => t('delete_confirmation'), :method => :delete
.action-links
    = link_to t('template.new_button'), new_medical_template_path, :class => 'acts_as_button'
