- title t('diagnosis.edit')

- semantic_form_for(@diagnosis, :html => { :id => 'icd_catalog_radio_tree' }, :url => patient_case_file_diagnosis_path(:patient_id => params[:patient_id], :case_file_id => params[:case_file_id])) do |f|
    = f.error_messages

    - f.inputs do
        = f.input :description, :input_html => { :rows => 4, :cols => 30 }
        - if @catalog && @diagnosis.icd_entry
            = radio_tree @catalog, 'icd_catalog_radio_tree' , 'icdcode', @diagnosis.icd_entry.id
        - elsif @catalog
            = radio_tree @catalog, 'icd_catalog_radio_tree' , 'icdcode'
        - else
            = no_catalog_available 'diagnosis'

    = f.buttons


.action-links
    - if authorize?('delete_diagnosis')
        = link_to t('action.destroy'), patient_case_file_diagnosis_path(:patient_id => params[:patient_id], :case_file_id => params[:case_file_id], :id => @diagnosis),  :confirm => t('delete_confirmation'), :method => :delete, :class => 'acts_as_button lightgray'
    - if authorize?('view_diagnosis')
        = link_to t('action.back'), patient_case_file_diagnosis_path(:patient_id => params[:patient_id], :case_file_id => params[:case_file_id], :id => @diagnosis), :class => 'acts_as_button darkgray'


