<h1>Listing diagnoses</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Case file</th>
  </tr>

<% @diagnoses.each do |diagnosis| %>
  <tr>
    <td><%=h diagnosis.description %></td>
    <td><%=h diagnosis.case_file_id %></td>
    <td><%= link_to 'Show', diagnosis %></td>
    <td><%= link_to 'Edit', edit_diagnosis_path(diagnosis) %></td>
    <td><%= link_to 'Destroy', diagnosis, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New diagnosis', new_diagnosis_path %>