- title t('diagnosis.listing')
%table
    %tr
        %th=t('diagnosis.catalog_entry')
        %th=t('diagnosis.description')
        %th=t('diagnosis.user')
        %th=t('diagnosis.created_at')
    - @diagnoses.each do |diagnosis|
        %tr{:onclick=>"location.href='#{url_for patient_case_file_diagnosis_path(:patient_id => current_active_patient.id, :case_file_id => get_case_for_view, :id => diagnosis.id)}';",:style=>"cursor:pointer;"}
            %td= h diagnosis.icd_entry.name + " (" + diagnosis.icd_entry.code + ")"
            %td= h truncate(diagnosis.description, :omission => "...", :length => 40)
            %td= h diagnosis.user.first_name+" "+ diagnosis.user.family_name
            %td= h show_datetime(diagnosis.created_at)

.action-links
    - if authorize?('create_diagnosis')
        = link_to t('diagnosis.new_button'), new_patient_case_file_diagnosis_path(:patient_id => current_active_patient.id, :case_file_id => get_case_for_view), :class => 'acts_as_button'