!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
    %head
        %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'utf-8'}
        %title= h(yield(:title) || "Untitled")
        = stylesheet_link_tag 'reset', '../ext/resources/css/ext-all.css', 'formtastic', 'formtastic_changes', 'master', 'style','themes/default', "event_calendar", :cache => 'base'
        = javascript_include_tag 'prototype', 'window', '../ext/adapter/ext/ext-base.js' ,'../ext/ext-all.js','application', :cache => true
    %body{ :id => make_body_id, :class => make_body_classes}
        #wrapper
            #container
                #header
                    %img.logo{:src => "/images/logo.png", :alt => "Hopen Logo"}
                    = render :partial => 'shared/header'
                #sidebar
                    = render :partial => 'shared/main_navigation'
                #center
                    #squeeze
                        .content
                            = render :partial => 'shared/tab_navigation'
                            .inner-bg
                                .inner
                                    - flash.each do |name, msg|
                                        %div{ :class => "messages #{name}"}
                                            = content_tag :p, msg, :id => "flash_#{name}"

                                    - if show_title?
                                        %h1=h yield(:title)

                                    = yield

        = render :partial => 'shared/footer'
