!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
    %head
        %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'utf-8'}
        %title= h(yield(:title) || "Untitled")
        = stylesheet_link_tag 'reset'
        = stylesheet_link_tag 'master'
        = stylesheet_link_tag 'style'
        = javascript_include_tag 'prototype', 'jquery' , 'jstree' ,'application', :cache => true
    %body
        = yield