= javascript_include_tag :ckeditor

-title 'Editing medical_report'

- semantic_form_for(@medical_report) do |f|
  = f.error_messages

  %p
    = f.label :title
    %br
    = f.text_field :description

  %p
    = f.label :file 
    %br
    = f.cktext_area :file, :toolbar=>'Full', :width=>'70%', :heigth=>'200px'


  %p
    = f.submit 'Update'

.action-links
  = link_to t('action.back'), medical_reports_path, :class => 'acts_as_button darkgray'