= javascript_include_tag :ckeditor

-title t('medical_reports.edit')

- semantic_form_for(@medical_report, :url => patient_medical_report_path(params[:patient_id])) do |f|
  = f.error_messages

  %p
    = f.label t('medical_reports.title')
    %br
    = f.text_field :description

  %p
    = f.label t('medical_reports.report')
    %br
    = f.cktext_area :file, :toolbar=>'Full', :width=>'70%', :heigth=>'200px'


  %p
    = f.submit t('action.update')

.action-links
  - if authorize?('delete_medical_report')
    = link_to t('action.destroy'), patient_medical_report_path, :confirm => t('delete_confirmation'), :method => :delete, :class => 'acts_as_button darkgray'
  - if authorize?('view_medical_report')
    = link_to t('action.back'), patient_medical_reports_path, :class => 'acts_as_button darkgray'