-title 'New medical_report'

- semantic_form_for(@medical_report) do |f|
  = f.error_messages

  %p
    = f.label :title
    %br
    = f.text_field :description

  %p
    %label Cases
    =swapselectmanual :medical_report, @case_files, :entry_date, :id, params = {:size => 6}

  %p
    %label Properties
    =swapselectmanual :medical_report, @properties, :name, :id, params = {:size => 6}

  %p
    = f.submit 'Create'

.action-links
  - if authorize?('view_medical_report')
    = link_to t('action.back'), medical_reports_path , :class => 'acts_as_button darkgray'
